node_modules/
.expo/
.expo-shared/
.DS_Store
*.log
.idea/
.vscode/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.apk
*.aab
firebaseConfig.js
tokenExpo.txt
*.zip
create-users.js
cleanup-firebase.js
create-categorias.js
tokenExpo.txt
